﻿@model List<OrdersMVC.Models.State>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-sm-6">State Abbr</div>
    <div class="col-sm-6">State Name</div>
</div>
@foreach (var state in Model)
{
    @Html.Partial("_State", state)
}