﻿@model JQueryValidation.Models.RsvpResponse
@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks</h2>

<div class="row">
    <div class="col-xs-12">
        @if (Model.WillAttend.Value)
        {
            <p>That's great that you're coming, we will see if others
                like @Model.FavoriteGame and play it...</p>
        }
        else
        {
            <p>Sorry you couldn't make it this time!</p>
        }
    </div>
</div>