﻿@model CodeReviewWeek7.Models.Application

@{
    ViewBag.Title = "ApplicationForm";
}

    <h2>Join [T][H][E][J][A][G][G][E][D][A][R][R][A][Y]['][S]™ army!</h2>
<div class="row">
    <div class="col-xs-6">
        @using (Html.BeginForm("ApplicationForm", "Home", null, FormMethod.Post, new {id = "applicationForm"}))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Your Name:</label>
                @Html.TextBoxFor(a => a.Name, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Your Summoner Name:</label>
                @Html.TextBoxFor(a => a.SummonerName, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Your Email:</label>
                @Html.TextBoxFor(a => a.Email, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Your Phone Number:</label>
                @Html.TextBoxFor(a => a.Phone, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Your Favorite Champion:</label>
                @Html.TextBoxFor(a => a.FavoriteChampion, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Your Preferred Game Mode:</label>
                @Html.DropDownListFor(a => a.PreferredGameType, new[]
                {
                    new SelectListItem {Text = "Summoners Rift", Value = "Summoners Rift"},
                    new SelectListItem {Text = "Twisted Treeline", Value = "Twisted TreeLine"},
                    new SelectListItem {Text = "ARAM", Value = "ARAM"}
                }, "Choose a game mode", new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Does Christian suck?</label>
                @Html.DropDownListFor(a => a.DCS, new[]
                {
                    new SelectListItem {Text = "Is the sky blue?", Value = bool.TrueString},
                    new SelectListItem {Text = "No", Value = bool.FalseString}
                }, "Pretty obvious choice", new {@class = "form-control"})
            </div>
            <button class="btn btn-danger">Submit</button>
        }
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/app/applicationValidation.js"></script>
    <script src="~/Scripts/app/jquery-validate-defaults.js"></script>
    <script src="~/Scripts/additional-methods.min.js"></script>
}