﻿@model CodeReviewWeek7.Models.Application
@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks</h2>

<div class="row">
    <div class="col-xs-12">
        @if (Model.DCS.Value)
        {
            <p>Thank you for submitting an application! You will hear back from us soon and hopefully be able to join [T][H][E][J][A][G][G][E][D][A][R][R][A][Y]™ army!</p>
        }
        else
        {
            <p>Nice try Christian ;)</p>
        }
    </div>
</div>