﻿@model ModelValidation.Models.Appointment
@{
    ViewBag.Title = "MakeBooking";
}

<h2>Book an Appointment</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Validation Errors")
    <div class="form-group">
        <label>Your Name</label>
        @Html.EditorFor(m => m.ClientName)
        @Html.ValidationMessageFor(m => m.ClientName)
    </div>
    <div class="form-group">
        <label>Appointment Date</label>
        @Html.EditorFor(m => m.Date)
        @Html.ValidationMessageFor(m => m.Date)
    </div><div class="form-group">
    <label>I accept the terms & conditions</label>
              @Html.EditorFor(m => m.TermsAccepted);
              @Html.ValidationMessageFor(m => m.TermsAccepted)
    </div>
    <div class="form-group">
        <label>Zach really wanted a decimal</label>
        @Html.EditorFor(m => m.Time)
        @Html.ValidationMessageFor(m => m.Time)
    </div>
    <button>Make Booking</button>
   }
</div>