﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<input id="number" type ="text"/>
<button onclick="OpenWindow();">Open</button>

@section scripts{
    <script>
        //alert(window.name);
        //window.open("http://www.google.com", "_blank", null);
        //window.open("/Home/AnotherPage?name=TRIBE", "_blank", null);


        function OpenWindow() {
            var teamNum = document.getElementById("number").value;
            window.open("/Home/AnotherPage/" + teamNum);
        }
    </script>
}