﻿@model OrdersMVC.Models.Order

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm("Add","Orders"))
{
    <div class="form-group">
        @Html.LabelFor(o=>o.CustomerName)
        @Html.TextBoxFor(o=>o.CustomerName, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(o => o.OrderDate)
        @Html.EditorFor(o => o.OrderDate, new { @class = "form-control" })
    </div>    <div class="form-group">
        @Html.LabelFor(o => o.State.Abbreviation)
        @Html.TextBoxFor(o => o.State.Abbreviation, new { @class = "form-control" })
              </div>
    <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(o => o.State.Name)
            @Html.TextBoxFor(o => o.State.Name, new {@class = "form-control"})
        </div>
        @Html.LabelFor(o => o.Total)
        @Html.TextBoxFor(o => o.Total, new {@class = "form-control"})
    </div>
    <button class ="btn btn-danger">Add</button>
}